* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(39, 43, 51);
  
}

main {
  width: 100%;
  height: 100%;
  justify-content: center;

  
}
h2 {
  cursor: pointer;
}
h2:hover {
  color: gold;
}
.container {
  max-width: 1500px;
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background: rgb(39, 43, 51);
  color: rgb(255, 255, 255);
  gap: 20px;
}

.specie {
  display: grid;
  justify-content: space-evenly;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  background: rgb(60, 62, 68);
  text-align: center;

}


.specie-img img {
  border-radius: 20px;
  height: 200px;
  width: 100%;
}
.loader-container {
  display: flex;
  justify-content: start;
  flex-direction: column-reverse;
 margin-top: 10%;
 background-color: aqua;

}
.loader-box {
   
    margin-right: 200px;
}
  @keyframes loader {
    0% {
        transform: scale(0) ;
        opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  .loader::after , .loader::before {
    animation: loader 2s linear  infinite ;
    content: ''; 
    border: 2px solid white;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    
  }
  .loader::after {
    opacity: 0; 
    animation-delay: 1s;

  }
  header {
    padding: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    
  }
.title {
  background-color:   rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
}
  .title h1 {
    
    margin: 0;
    color: rgb(32, 35, 41);
    border: none;
    font-weight: 900;
    font-size: 5.625rem;
    text-align: center;
    }
  .form {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
    gap: 5px;

  }
  .form .inputs {
      display: flex;
      justify-content: center;
      gap: 20px;
      

  }
  .form .inputs div {

    display: flex;
    flex-direction: column;
  }
  input {
    background: none;
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 17px;
   
  
  }
  label {

  }
  button {
    background: rgb(60, 62, 68) ;
    border: none;
    border-radius: 10px;
    width: 90px;
    margin: 5px;
    color: whitesmoke;
    cursor: pointer;

  }
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none; 
    text-decoration: none;
    padding: 15px;  
  }
  .pagination li {
    margin: 5px;
  }
  .pagination li a {
    text-decoration: none;
    color: beige;
  }
  .notFoundChars {
    display: flex;
    justify-content: center;
    font-size: 5rem;
  }
  